.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('https://img.freepik.com/free-vector/colleagues-working-together-project_74855-6308.jpg?w=1480&t=st=1668669322~exp=1668669922~hmac=ce2327784a42e4466a021129430bb096bd865e76084ebe26e7614786f2a21b4d');
  background-size: cover;
  background-position: 100% 35%;

}
